
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


		<!-- <script language="Javascript" src="{{url_for('static', filename='js/jquery.js')}}"></script>

		<script type="text/JavaScript" src="{{url_for('static', filename='js/state.js')}}"></script>


		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/needstyle.css') }}">

		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->

	</head>

	<body>


		{% if items %}
		<div class="container">		
			<h2>Result:</h2>
			<div class ="container">
				<h4>Probability of pre diabetes:
				{{items.case}} %</h4>
			</div>
		</div>
		{% endif %}

		<form action="/qcri_submit_vitals" method="post" enctype="multipart/form-data">



		<div class="container">
		  <h2>Enter the details of the patient</h2>
		  <!-- <div class ="container">
		  	<p>
		  		If you are requesting for yourself, please make sure that the Name and Requestor Name are same.
		  		Also Contact numbers should be the same.</p>
		  	<p>
					If you are requesting for someone else,
					please enter the name of that person  in the 'Name' section and your name in the 'Requestor' section.

		  	</p>
		  </div> -->

		  <div class="form-group">
		      	<label>Occupation Activity:</label>
		      	<select class="form-control" id="occ_act" name="occ_act">
				  <option value="0">1</option>
				  <option value="1">2</option>
				  <option value="2">3</option>
				  <option value="3">4</option>
				  <option value="4">5</option>
				  <option value="5">6</option>
			  	</select>
		    </div>


		    <div class="form-group">
		      	<label>Time sitting per day weekend on computer:</label>
		      	<select class="form-control" id="time_sitting_weekend_comp" name="time_sitting_weekend_comp">
				  <option value="3">Less than 1 hour</option>
				  <option value="1">Between 1 hour and less than 2 hours</option>
				  <option value="2">Between 2 to 4 hours per day</option>
				  <option value="4">More than 4 hours per day</option>
				  <option value="5">None</option>	
			  	</select>
		    </div>





			<div class="form-group">
	    		<label>Typical Sleep Hours Last Year</label>
			    <select class="form-control" id="typ_sleep_last_yr" name="typ_sleep_last_yr">
				  <option value="4">Less than 5 hours</option>
				  <option value="2">Between 5 and less than 7 hours</option>
				  <option value="3">Between 7 and less than 8 hours</option>
				  <option value="1">8 hours or more</option>				  
				</select>
			</div>

			<div class="form-group">
	    		<label>Nap During Day Last Year</label>
			    <select class="form-control" id="nap_day_last_yr" name="nap_day_last_yr">
				  <option value="3">Never/Rarely</option>
				  <option value="5">Sometimes</option>
				  <option value="2">Frequently</option>
				  <option value="1">Always</option>				  
				</select>
			</div>

			<div class="form-group">
	    		<label>Snore?</label>
			    <select class="form-control" id="snore" name="snore">
				  <option value="3">Yes</option>
				  <option value="1">No</option>				  
				</select>
			</div>


			<div class="form-group">
	    		<label>Other household smokers</label>
			    <select class="form-control" id="other_house_smoker" name="other_house_smoker">
				  <option value="0">Not Applicable</option>
				  <option value="3">Yes, 1 household member smokes</option>
				  <option value="4">Yes, 2 or more household members smoke</option>
				  <option value="1">No</option>				  
				</select>
			</div>

			<div class="form-group">
	    		<label>Father Alive?</label>
			    <select class="form-control" id="father_alive" name="father_alive">
				  <option value="3">Yes</option>
				  <option value="2">No</option>				  
				</select>
			</div>


		  
		    <div class="form-group">
		    	<label>Age:</label>
		      	<input type="text" onfocus="this.value=''" class="form-control" id="requestor_name" placeholder="Age of subject" name="age" required>
	      	</div>



			<div class="form-group">
		      	<label>Waist Size(cm):</label>
		      	<input type="text"  class="form-control" id="hipwaist_waist_size" placeholder="Size of waist in cm" name="hipwaist_waist_size">
		    </div>

		    <div class="form-group">
		      	<label>Hip Size(cm):</label>
		      	<input type="text"  class="form-control" id="hipwaist_hip_size" placeholder="Size of hip in cm" name="hipwaist_hip_size">
		    </div>

		     <div class="form-group">
		      	<label>Diastolic BP1:</label>
		      	<input type="text"  class="form-control" id="diastolic_bp1" placeholder="Diastolic BP1" name="diastolic_bp1">
		    </div>

		     <div class="form-group">
		      	<label>Diastolic BP2:</label>
		      	<input type="text"  class="form-control" id="diastolic_bp2" placeholder="Diastolic BP2" name="diastolic_bp2">
		    </div>

		     <div class="form-group">
		      	<label>Systolic BP1:</label>
		      	<input type="text"  class="form-control" id="systolic_bp1" placeholder="Systolic BP1" name="systolic_bp1">
		    </div>

		     <div class="form-group">
		      	<label>BMI:</label>
		      	<input type="text"  class="form-control" id="bmi" placeholder="BMI of subject" name="bmi">
		    </div>











	<!-- add the state and city here -->


			<!-- <div class="form-group">
		    	<label>State:</label>
		      	<div id="selection">
			        <select name="requestor_state" id="listBox" onchange='selct_district(this.value)'></select>
			        <select name="requestor_district" id='secondlist'></select>
		      </div>
	      	</div> -->


	      	

			<!-- 

			<div class="form-group">
	    		<label>Time Sitting Per Day Weekend Using Computer</label>
			    <select id="occ_act" name="rice_qty">
				  <option value="1">1</option>
				  <option value="2">2</option>
				  <option value="3">3</option>
				  <option value="4">4</option>
				  <option value="5">5</option>
				  <option value="5">6</option>
				</select>
			</div>

	      	<div class="form-group">
		    	<label>City:</label>
		      	<input readonly type="text" value="Mumbai" class="form-control" id="requestor_city" placeholder="City" name="requestor_city" required>
	      	</div>



	      	<div class="form-group">
		    	<label>Address:</label>
		      	<input type="text"  class="form-control" id="requestor_address" placeholder="Address(Please mention Pincode)" name="requestor_address" required>
	      	</div>

	      	<div class="form-group">
		    	<label>Locality:</label>
		      	<input type="text"  class="form-control" id="requestor_locality" placeholder="Locality" name="requestor_locality" required>
	      	</div>

	      	<div class="form-group">
		    	<label>Landmark:</label>
		      	<input type="text"  class="form-control" id="requestor_landmark" placeholder="Landmark" name="requestor_landmark" required>
	      	</div>


	      	<div class="form-group">
		      	<label>Contact Number(10 digit Mobile):</label>
		      	<input type="text" onfocus="this.value=''" class="form-control" id="contact_num" placeholder="Contact Number" name="contact_num" required>
		    </div>

		    <hr>

		    <div class="form-group">
		    	<label>Requestor Name:</label>
		      	<input type="text" onfocus="this.value=''" class="form-control" id="volunteer_name" placeholder="Requestor Name" name="volunteer_name">
	      	</div>

	      	<div class="form-group">
		      	<label>Requestor Contact Number(10 digit Mobile):</label>
		      	<input type="text"  class="form-control" id="vol_contact_num" placeholder="Requestor Contact Number" name="vol_contact_num">
		    </div>
 -->



<!--
	    	<div class="form-group">
	    		<label>Rice</label>
			    <select id="rice_qty" name="rice_qty">
				  <option value="nil">NIL</option>
				  <option value="1KG">1KG</option>
				  <option value="3KG">3KG</option>
				  <option value="5KG">5KG</option>
				</select>
			</div>

			<div class="form-group">
	    		<label>Wheat</label>
			    <select id="wheat_qty" name="wheat_qty">
				  <option value="nil">NIL</option>
				  <option value="1KG">1KG</option>
				  <option value="3KG">3KG</option>
				  <option value="5KG">5KG</option>
				</select>
			</div>

			<div class="form-group">
	    		<label>Oil</label>
			    <select id="oil_qty" name="oil_qty">
				  <option value="nil">NIL</option>
				  <option value="1L">1 Litre</option>
				  <option value="3L">3 Litres</option>
				  <option value="5L">5 Litres</option>
				</select>
			</div>

			<div class="form-group">
	    		<label>Daal</label>
			    <select id="daal_qty" name="daal_qty">
				  <option value="nil">NIL</option>
				  <option value="1KG">1 Kg</option>
				  <option value="3KG">3 Kg</option>
				  <option value="5KG">5 Kg</option>
				</select>
			</div>	 -->

		    <button type="submit" class="blue btn-center ">Submit</button>
		</div>

		


	</form>

	</body>


</html>